<!DOCTYPE html>
<html lang="en">
<head>
	<title>KUWO 악기대장</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">

	<link rel="stylesheet" href="/styles/style.css">
</head>

<body>
	<nav class="navbar navbar-fixed-top navbar-default">
		<div class="container">
			<a class="navbar-brand" href="/">KUWO 악기대장</a>
			<!-- <% if (!loggedIn) { %>
			<button id="new-post-button" class="btn btn-primary" onclick="getForm()">Log In</button>
			<% } %> -->
		</div>
		<!-- <div class="container">
			<div id="form-container" class="collapse"></div>	
		</div> -->
	</nav>

	<div class="container">

	<div>
		<div class="col-12">
			<h2>악기 검색하기</h2>
		<select class="form-control">
			<option disabled selected value> -- 악기 검색 -- </option>
			<% insts.forEach( function (inst) { %>
		    <option><%= inst %></option>
			<% }); %>
		</select>
		
		<div id="table-container"></div>

		</div>

	</div>

<br>


<br>	

<div id="form-container">

<form id="form1">
	<div class="col-12">
		<h2>악기 추가하기</h2>
	<div class="form-group row">
		<label class="col-4 col-form-label">악기</label>
		<div class="col-8">
			<input class="form-control" type="text" name="inst">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">분류</label>
		<div class="col-8">
			<input class="form-control" type="text" name="instType">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">번호</label>
		<div class="col-8">
			<input class="form-control" type="text" name="instNumb">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">제조사</label>
		<div class="col-8">
			<input class="form-control" type="text" name="manufact">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">모델명</label>
		<div class="col-8">
			<input class="form-control" type="text" name="model">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">씨리얼 넘버</label>
		<div class="col-8">
			<input class="form-control" type="text" name="serial">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">상태</label>
		<div class="col-8">
			<input class="form-control" type="text" name="status">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">구성품</label>
		<div class="col-8">
			<input class="form-control" type="text" name="components">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">수리 필요 여부</label>
		<div class="col-8">
			<input class="form-control" type="text" name="needsRepair">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">현재 사용자</label>
		<div class="col-8">
			<input class="form-control" type="text" name="currUser">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">사용 날짜 시작</label>
		<div class="col-8">
			<input class="form-control" type="text" name="useDate">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">비고</label>
		<div class="col-8">
			<input class="form-control" type="text" name="extra">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">사진</label>
		<div class="col-8">
			<input id="image-file" type="file" name="imageFile" accept="image/*" onchange="previewImg()">
		<label id="image-frame" for="image-file">
		<div id="text-background">사진을 선택하시오</div>
		<img id="image-preview" height="200" width="200" /></label>
		</div>
	</div>
	<div>
		<button type="button" class="btn btn-primary" onclick="postForm()">확인</button>
	</div>

	</div>

	<br>
</form>

</div>

</body>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="/scripts/load-image.all.min.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>

</html>