
body {
	background: #7DAD77;
}

h2 {
	padding-top: 15px;
}

td {
	vertical-align: center;
}

tbody > tr {
	cursor: pointer;
}

input {
	width: 50px;
}

img {
	width: 200px;
	height: 200px;
}

nav {
	width: 100%;
	background: #F8F8F8;
}

form > p {
	text-align: center;
}

.container {
	background-color: #F8F8F8;
	width: 1240px;
}

.navbar-brand {
	font-size: 1.75rem;
	color: #6B6B6B;
}

body>.container {
	padding: 15px 15px 0;
	margin-top: 30px;
}


#form-container {
	clear: right;
	background: #F3F3F3;
	position: relative;
	border-radius: 5px;
	width: 100%;
}

#image-frame {
	border-radius: 0.25rem;
	border: 2px dashed #BBB;
}

#new-post-button {
	float: right;
    vertical-align: middle;
}

nav a {
	margin: 0;
}

#text-background {
	width: 100%;
	text-align: center;
	vertical-align: center;
	position: relative;
	height: 100%;
	top: 100px;
	color: #BBB;
}

#image-file {
	display: none;
}

button {
	width: 100%;
}